:root {
  --first-color: #272142;
  --second-color: #6c63ff;
  --third-color: #f9f7fe;
  --fourth-color: white;
  --fifth-color: black;
  --fontfamily-first: "Poppins", sans-serif;
  --fontfamily-second: "Playfair Display", serif;
}

body {
  margin: 0 0;
  padding: 0 0;
}

.wrapper {
  background-color: var(--third-color);
  text-align: center;
  height: 650px;
  margin: 0 0 127px 0;
  padding: 51px 67px;
}

.greeting-text {
  margin-top: 104px;
}

.name {
  color: var(--fifth-color);
  font-family: var(--fontfamily-second);
  font-weight: 700;
  font-size: 96px;
}
p {
  font-family: var(--fontfamily-first);
  font-weight: normal;
}
.greeting {
  color: var(--first-color);
  font-family: var(--fontfamily-first);
  font-weight: 700;
  font-size: 36px;
}

#text-about {
  font-family: var(--fontfamily-second);
  color: var(--first-color);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin: 0 auto;
}

/* .button-contact-me {
  display: inline;
  background-color: var(--second-color);
  padding: 18px 46px;
  border-radius: 4px;
}
.button-contact-me a {
  font-family: var(--fontfamily-first);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: var(--third-color);
}
.button-contact-me:hover {
  color: var(--first-color);
} */

.btn-branding {
  background: var(--second-color);
  border-radius: 4px;
  color: var(--third-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--first-color);
}

